@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.right-image {
  background-image: url("https://thewebmax.org/modern/images/main-slider/slider3/slide1.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

.left-image {
  background-image: url("https://thewebmax.org/modern/images/main-slider/slider3/slide1-b.jpg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: cover;
}

.playfair-display {
  font-family: "Monserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
